// footer
footer.footer 
	.wrapper 
		.title Наши Партнеры
		.footer__row
			.footer__icon
				img(src="img/partner_1.svg", alt="")
			.footer__icon
				img(src="img/partner_2.svg", alt="")
			.footer__icon
				img(src="img/partner_3.svg", alt="")
			.footer__icon
				img(src="img/partner_4.svg", alt="")
// /footer