// header
header.header#header
	.wrapper

		// menu
		#menu.menu

			a(href="#").logo
				img(src="img/logo.png", alt="")

			#menu-btn.menu__btn.hamburger.hamburger--arrowalt-r
				.hamburger-box
					.hamburger-inner
					
			nav.menu__nav
				ul.menu__list
					li
						a(href="#") Gameplay
					li
						a(href="#") Play to earn
					li
						a(href="#") Турниры
					li
						a(href="#") Крафтинг
					li
						a(href="#") Лут
					li
						a(href="#") Token Distribution
					li
						a(href="#") Резервирование токенов
					li
						a(href="#") Roadmap
					li
						a(href="#") Команда
					li
						a(href="#") Пресса

				.header__lang.mobile-visible
					a(href="#").header__link.active
						img(src="img/lang_ru.jpg", alt="")
						span Русский
					a(href="#").header__link
						img(src="img/lang_en.jpg", alt="")
						span English
		// /menu

		.header__lang.mobile-hide
			a(href="#").header__link.active
				img(src="img/lang_ru.svg", alt="")
			a(href="#").header__link
				img(src="img/lang_en.svg", alt="")

// /header