extends blocks/base.jade

block title 
	title Battle of planets

block style-libs
	//- link(rel="stylesheet", href="css/libs/animate.min.css")
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")

block content

	.page

		include blocks/header.jade
		
		.content

			// welcome
			.welcome
				.wrapper
					.welcome__content
						.title Battle of Planets
						.welcome__text Карточная игра с NFT токенами, где в качестве валюты нативный токен PPT (Planetary Provision token)
						.welcome__btn
							a(href="#").btn
								span.btn__text Зарегистрироваться
								span.btn__arrow
					.welcome__planet
						img(src="img/planet_1.png", alt="")
			//	/welcome

			// description
			.description
				.wrapper
					.title Тебе предстоит пережить планетарное уничтожение!
					.description__desc Stage 1 - Игра без NFT<br>(status alfa)
					.text Попробуй прямо сейчас!
					.btn
						span.btn__text В игру!
						span.btn__arrow
					.description__platforms
						.description__text Также скоро:
						.description__items
							.description__item
								img(src="img/android_icon.svg", alt="").description__icon
								span Android
							.description__item
								img(src="img/windows_icon.svg", alt="").description__icon
								span Windows
							.description__item
								img(src="img/apple_icon.svg", alt="").description__icon
								span iOS &amp; MacOS
				img(src="img/meteorite_1.png", alt="").description__meteorite-1.js-parallaxMouse(data-direction="xy" data-intensity="2" data-speed="700")
				img(src="img/meteorite_2.png", alt="").description__meteorite-2.js-parallaxMouse(data-direction="xy" data-intensity="2" data-speed="700" data-revers="true")
			//	/description
			
		include blocks/footer.jade

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/wow.min.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")