extends blocks/base.jade

block title 
	title Battle of planets

block style-libs
	//- link(rel="stylesheet", href="css/libs/animate.min.css")
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")

block content

	.page

		include blocks/header.jade
		
		.content

			// welcome
			section.welcome
				.wrapper
					.welcome__content
						h1.title Battle of Planets
						.welcome__text Карточная игра с NFT токенами, где в качестве валюты нативный токен PPT (Planetary Provision token)
						.welcome__btn
							a(href="#").btn
								span.btn__text Зарегистрироваться
								span.btn__arrow
					.welcome__planet
						img(src="img/planet_1.png", alt="")
			//	/welcome

			// description
			section.description
				.wrapper
					h2.title Тебе предстоит пережить планетарное уничтожение!
					.description__desc Stage 1 - Игра без NFT<br>(status alfa)
					.text Попробуй прямо сейчас!
					a(href="#").btn
						span.btn__text В игру!
						span.btn__arrow
					.description__platforms
						.description__text Также скоро:
						.description__items
							.description__item
								img(src="img/android_icon.svg", alt="").description__icon
								span Android
							.description__item
								img(src="img/windows_icon.svg", alt="").description__icon
								span Windows
							.description__item
								img(src="img/apple_icon.svg", alt="").description__icon
								span iOS &amp; MacOS
				img(src="img/meteorite_1.png", alt="").description__meteorite-1.js-parallaxMouse(data-direction="xy" data-intensity="2" data-speed="700")
				img(src="img/meteorite_2.png", alt="").description__meteorite-2.js-parallaxMouse(data-direction="xy" data-intensity="2" data-speed="700" data-revers="true")
				img(src="img/planet_bg_2.png", alt="").description__planet.description__planet--top
			//	/description

			// gameplay
			section.gameplay
				.wrapper
					h2.title Gameplay
					.text Цель игрока - уничтожить защиту планеты противника
					.gameplay__row
						.gameplay__items
							.row
								.gameplay__col
									.gameplay__icon
										img(src="img/icon_1.svg", alt="")
									.gameplay__text Поле боя - межпланетное пространство
								.gameplay__col
									.gameplay__icon
										img(src="img/icon_2.svg", alt="")
									.gameplay__text Каждому игроку даются карты, у которой свои особенности
								.gameplay__col
									.gameplay__icon
										img(src="img/icon_3.svg", alt="")
									.gameplay__text Космические катаклизмы разрушают хрупкую сферу жизни
								.gameplay__col
									.gameplay__icon
										img(src="img/icon_4.svg", alt="")
									.gameplay__text 160 000 000 000 000 000 возможных комбинаций улучшений
						.gameplay__video.js-video
							img(src="img/preview.jpg", alt="")
							video(src="video/video.mp4")
							.gameplay__play#play
								img(src="img/play.svg", alt="")
			//	/gameplay

			// methods
			section.methods
				.wrapper
					h2.title 5 способов играя, зарабатывать
					.row
						.methods__col
							.methods__item
								.methods__num 1
								.methods__text Получай токены и NFT
									span , а также части NFT после каждого боя с противником
						.methods__col
							.methods__item
								.methods__num 2
								.methods__text 
									span Выигрывай у врага 
									| планетарную валюту
						.methods__col
							.methods__item
								.methods__num 3
								.methods__text
									span Улучшай свои планетарные карточные сущности, выпускай улучшенные версии в сеть и 
									| продавай их на площадках
						.methods__col
							.methods__item
								.methods__num 4
								.methods__text Стейк прямо в игре
						.methods__col
							.methods__item
								.methods__num 5
								.methods__text Реферальная система 
									span до 6-и уровней в глубину
			//	/methods

			// tournaments
			section.tournaments
				.wrapper
					h2.title ТУРНИРЫ
					.text
						span Участие в турнире может принести очень большой куш, представь - 
						| обыграть 64 игроков и стать владельцем их планетарных ресурсов. 
						span Черная дыра и энтропия то, что ждет твоих врагов. 
					.btn.btn--disable
						span.btn__text В разработке
						span.btn__arrow
				.tournaments__planet.tournaments__planet--1
					img(src="img/planet_2.png", alt="")
				.tournaments__planet.tournaments__planet--2
					img(src="img/planet_3.png", alt="")
			//	/tournaments

			// crafting
			section.crafting
				.wrapper
					.crafting__blur
						h2.title Крафтинг
						.text
							p
								span Для улучшения, покупки/продажи NFT карт будут нужны нативные токены платформы.
							p
								span Покупай и продавай NFT токены как внутри платформы так и на других площадках.
							p Зарабатывай, играя!
						.btn.btn--disable
							span.btn__text В разработке
							span.btn__arrow
				img(src="img/cometa_1.png", alt="").crafting__cometa
			//	/crafting

			// award
			section.award
				.wrapper
					h2.title Получай лут за каждый бой
					.row
						.award__col
							.award__head
								.award__icon
									img(src="img/icon_5.svg", alt="")
								.text Игровой токен EDM
							.text
								span Вкладывай EDM в карты своей Империи, чтобы завоевать еще больше EDM
						.award__col
							.award__head
								.award__icon
									img(src="img/icon_6.svg", alt="")
								.text Редкие и уникальные<br>NFT-карты
							.text
								span Позволят побеждать более сильных противников и получать больше лута и планетарных ресурсов
				img(src="img/meteorite_3.png", alt="").award__meteorite
				img(src="img/cometa_2.png", alt="").award__cometa
			//	/award

			// token
			section.token
				.wrapper
					.token__head
						h2.title Token distribution
						.text Для реализации проекта необходимы средства и дополнительные человеческие ресурсы. Именно поэтому команда проекта запускает “Token distribution”, который пройдёт в несколько этапов
					.token__container
						table.token__table
							th.token__item Этап
							th.token__item Дата старта
							th.token__item Стоимость
							th.token__item Бонус
							tr.token__row
								td.token__item.token__item--name Private-Sale
								td.token__item 10 февраля 2021
								td.token__item 0,51
								td.token__item 35 %
							tr.token__row
								td.token__item.token__item--name Public-Sale (1 этап)
								td.token__item 11 апреля 2021
								td.token__item 0,62
								td.token__item 30 %
							tr.token__row
								td.token__item.token__item--name Public-Sale (2 этап)
								td.token__item 12 июня 2021
								td.token__item 0,73
								td.token__item 20 %
							tr.token__row
								td.token__item.token__item--name Public-Sale (3 этап)
								td.token__item 23 августа 2021
								td.token__item 0,54
								td.token__item 10 %
				img(src="img/planet_bg_1.png", alt="").token__planet
			//	/token

			// cap
			section.cap
				.wrapper
					.row
						.cap__col.cap__col--1
							.cap__item
								h2.title Soft cap	
								.cap__row
									.cap__text 250 000
										span $
									img(src="img/icon_7.svg", alt="").cap__icon
						.cap__col.cap__col--2
							.cap__item
								h2.title Hard cap
								.cap__row
									img(src="img/icon_8.svg", alt="").cap__icon
									.cap__text 5 000 000
										span $
				img(src="img/meteorite_4.png", alt="").cap__meteorite
			//	/cap

			// reservation
			section.reservation
				.wrapper
					h2.title Резервирование токенов
					.reservation__diagram
						img(src="img/diagram.svg", alt="").reservation__img
						.reservation__section.reservation__section--1.js-parallaxMouse(data-direction="xy" data-intensity="0.7" data-speed="700")
							img(src="img/diagram_line_5.svg", alt="").reservation__line.reservation__line--1
							.reservation__container
								.reservation__title 2%
								.reservation__gradient.reservation__gradient--1
								.reservation__text Едвайзерам
						.reservation__section.reservation__section--2.js-parallaxMouse(data-direction="xy" data-intensity="0.2" data-speed="700")
							img(src="img/diagram_line_1.svg", alt="").reservation__line.reservation__line--2
							.reservation__container
								.reservation__title 3%
								.reservation__gradient.reservation__gradient--2
								.reservation__text Маркетинг
						.reservation__section.reservation__section--3.js-parallaxMouse(data-direction="xy" data-intensity="0.3" data-speed="700")
							img(src="img/diagram_line_2.svg", alt="").reservation__line.reservation__line--3
							.reservation__container
								.reservation__title 10%
								.reservation__gradient.reservation__gradient--3
								.reservation__text Космичесикй фонд
						.reservation__section.reservation__section--4.js-parallaxMouse(data-direction="xy" data-intensity="0.7" data-speed="700")
							img(src="img/diagram_line_3.svg", alt="").reservation__line.reservation__line--4
							.reservation__container
								.reservation__title 45%
								.reservation__gradient.reservation__gradient--4
								.reservation__text Команде, POS майнинг, ingame распределение 
						.reservation__section.reservation__section--5.js-parallaxMouse(data-direction="xy" data-intensity="0.5" data-speed="700")
							img(src="img/diagram_line_4.svg", alt="").reservation__line.reservation__line--5
							.reservation__container
								.reservation__title 40%
								.reservation__gradient.reservation__gradient--5
								.reservation__text Все sale-этапы
				img(src="img/meteorite_5.png", alt="").reservation__meteorite
				img(src="img/planet_4.png", alt="").reservation__planet
			//	/reservation

			// roadmap
			section.roadmap
				.wrapper
					h2.title Roadmap
					#scrollbar.roadmap__scroll.scrollbar-inner
						.roadmap__row
							.roadmap__col.roadmap__col--1

								.roadmap__item
									.roadmap__head
										.roadmap__content
											span старт
											| Декабрь 2021
										.roadmap__num 1
									.roadmap__body
										.roadmap__trigger
											span Разработка whitepaper
										.roadmap__drop
											p Привлечение эдвайзеров
											p Выпуск токена стандарта ERC-20
											p Проведение Pre-ICO
											p Старт Token distribution (Private-sale)
											p Начало проведения Public-sale

								.roadmap__item.mobile-visible
									.roadmap__head
										.roadmap__num 2
										.roadmap__content
											span старт
											| Февраль 2021
									.roadmap__body
										.roadmap__trigger
											span Запуск онлайн-версии Stage 1
										.roadmap__drop
											p Привлечение эдвайзеров
											p Выпуск токена стандарта ERC-20
											p Проведение Pre-ICO
											p Старт Token distribution (Private-sale)
											p Начало проведения Public-sale

								.roadmap__item
									.roadmap__head
										.roadmap__content
											span старт
											| Апрель 2021
										.roadmap__num 3
									.roadmap__body
										.roadmap__trigger
											span Запуск онлайн-версии Stage 1
										.roadmap__drop
											p Привлечение эдвайзеров
											p Выпуск токена стандарта ERC-20
											p Проведение Pre-ICO
											p Старт Token distribution (Private-sale)
											p Начало проведения Public-sale

								.roadmap__item.mobile-visible
									.roadmap__head
										.roadmap__num 4
										.roadmap__content
											span старт
											| Февраль 2021
									.roadmap__body
										.roadmap__trigger
											span Разработка приложения на Android
										.roadmap__drop
											p Привлечение эдвайзеров
											p Выпуск токена стандарта ERC-20
											p Проведение Pre-ICO
											p Старт Token distribution (Private-sale)
											p Начало проведения Public-sale

								.roadmap__item
									.roadmap__head
										.roadmap__content
											span старт
											| Декабрь 2021
										.roadmap__num 5
									.roadmap__body
										.roadmap__trigger
											span Запуск онлайн-версии Stage 1
										.roadmap__drop
											p Привлечение эдвайзеров
											p Выпуск токена стандарта ERC-20
											p Проведение Pre-ICO
											p Старт Token distribution (Private-sale)
											p Начало проведения Public-sale

							.roadmap__col.roadmap__col--2.mobile-hide

								.roadmap__item
									.roadmap__head
										.roadmap__num 2
										.roadmap__content
											span старт
											| Февраль 2021
									.roadmap__body
										.roadmap__trigger
											span Запуск онлайн-версии Stage 1
										.roadmap__drop
											p Привлечение эдвайзеров
											p Выпуск токена стандарта ERC-20
											p Проведение Pre-ICO
											p Старт Token distribution (Private-sale)
											p Начало проведения Public-sale

								.roadmap__item
									.roadmap__head
										.roadmap__num 4
										.roadmap__content
											span старт
											| Февраль 2021
									.roadmap__body
										.roadmap__trigger
											span Разработка приложения на Android
										.roadmap__drop
											p Привлечение эдвайзеров
											p Выпуск токена стандарта ERC-20
											p Проведение Pre-ICO
											p Старт Token distribution (Private-sale)
											p Начало проведения Public-sale

					.roadmap__center
						.roadmap__btn Stage 2 - Игра с NFT
							span Январь 2020
			//	/roadmap

			// team
			section.team
				.wrapper
					h2.title Команда
					.row
						.team__col
							.team__img.team__img--1
								img(src="img/photo_1.jpg", alt="")
							.team__content
								.team__name Алексей Кузнецов
								.text Основатель Battle of Games
						.team__col
							.team__img.team__img--2
								img(src="img/photo_2.jpg", alt="")
							.team__content
								.team__name Анна Волкова
								.text Менеджер по привлечению
						.team__col
							.team__img.team__img--3
								img(src="img/photo_3.jpg", alt="")
							.team__content
								.team__name Андрей Епифанцев
								.text Front-end Разработчик
						.team__col
							.team__img.team__img--4
								img(src="img/photo_4.jpg", alt="")
							.team__content
								.team__name Анатолий Волков
								.text Менеджер по привлечению
				img(src="img/cometa_3.png", alt="").team__cometa
				img(src="img/meteorite_6.png", alt="").team__meteorite_1
				img(src="img/meteorite_7.png", alt="").team__meteorite_2
			// /team
			
		include blocks/footer.jade

		img(src="img/footer__bg.png", alt="").footerImg

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/wow.min.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")