extends blocks/base.jade

block title 
	title Battle of planets

block style-libs
	//- link(rel="stylesheet", href="css/libs/animate.min.css")
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")

block content

	.page

		include blocks/header.jade
		
		.content

			// welcome
			.welcome
				.wrapper
					.welcome__content
						.title Battle of Planets
						.welcome__text Карточная игра с NFT токенами, где в качестве валюты нативный токен PPT (Planetary Provision token)
						.welcome__btn
							a(href="#").btn
								span.btn__text Зарегистрироваться
								span.btn__arrow
					.welcome__planet
						img(src="img/planet_1.png", alt="")
			//	/welcome

			// description
			.description
				.wrapper
					.title Тебе предстоит пережить планетарное уничтожение!
					.description__desc Stage 1 - Игра без NFT<br>(status alfa)
					.text Попробуй прямо сейчас!
					a(href="#").btn
						span.btn__text В игру!
						span.btn__arrow
					.description__platforms
						.description__text Также скоро:
						.description__items
							.description__item
								img(src="img/android_icon.svg", alt="").description__icon
								span Android
							.description__item
								img(src="img/windows_icon.svg", alt="").description__icon
								span Windows
							.description__item
								img(src="img/apple_icon.svg", alt="").description__icon
								span iOS &amp; MacOS
				img(src="img/meteorite_1.png", alt="").description__meteorite-1.js-parallaxMouse(data-direction="xy" data-intensity="2" data-speed="700")
				img(src="img/meteorite_2.png", alt="").description__meteorite-2.js-parallaxMouse(data-direction="xy" data-intensity="2" data-speed="700" data-revers="true")
			//	/description

			// gameplay
			.gameplay
				.wrapper
					.title Gameplay
					.text Цель игрока - уничтожить защиту планеты противника
					.gameplay__row
						.gameplay__items
							.row
								.gameplay__col
									.gameplay__icon
										img(src="img/icon_1.svg", alt="")
									.gameplay__text Поле боя - межпланетное пространство
								.gameplay__col
									.gameplay__icon
										img(src="img/icon_2.svg", alt="")
									.gameplay__text Каждому игроку даются карты, у которой свои особенности
								.gameplay__col
									.gameplay__icon
										img(src="img/icon_3.svg", alt="")
									.gameplay__text Космические катаклизмы разрушают хрупкую сферу жизни
								.gameplay__col
									.gameplay__icon
										img(src="img/icon_4.svg", alt="")
									.gameplay__text 160 000 000 000 000 000 возможных комбинаций улучшений
						.gameplay__video.js-video
							img(src="img/preview.jpg", alt="")
							video(src="video/video.mp4")
							.gameplay__play#play
								img(src="img/play.svg", alt="")
			//	/gameplay

			// methods
			.methods
				.wrapper
					.title 5 способов играя, зарабатывать
					.row
						.methods__col
							.methods__item
								.methods__num 1
								.methods__text Получай токены и NFT
									span , а также части NFT после каждого боя с противником
						.methods__col
							.methods__item
								.methods__num 2
								.methods__text 
									span Выигрывай у врага 
									| планетарную валюту
						.methods__col
							.methods__item
								.methods__num 3
								.methods__text
									span Улучшай свои планетарные карточные сущности, выпускай улучшенные версии в сеть и 
									| продавай их на площадках
						.methods__col
							.methods__item
								.methods__num 4
								.methods__text Стейк прямо в игре
						.methods__col
							.methods__item
								.methods__num 5
								.methods__text Реферальная система 
									span до 6-и уровней в глубину
			//	/methods

			// tournaments
			.tournaments
				.wrapper
					.title ТУРНИРЫ
					.text
						span Участие в турнире может принести очень большой куш, представь - 
						| обыграть 64 игроков и стать владельцем их планетарных ресурсов. 
						span Черная дыра и энтропия то, что ждет твоих врагов. 
					.btn.btn--disable
						span.btn__text В разработке
						span.btn__arrow
				.tournaments__planet.tournaments__planet--1
					img(src="img/planet_2.png", alt="")
				.tournaments__planet.tournaments__planet--2
					img(src="img/planet_3.png", alt="")
			//	/tournaments

			// crafting
			.crafting
				.wrapper
					.crafting__blur
						.title Крафтинг
						.text
							p
								span Для улучшения, покупки/продажи NFT карт будут нужны нативные токены платформы.
							p
								span Покупай и продавай NFT токены как внутри платформы так и на других площадках.
							p Зарабатывай, играя!
						.btn.btn--disable
							span.btn__text В разработке
							span.btn__arrow
				img(src="img/cometa_1.png", alt="").crafting__cometa
			//	/crafting

			// award
			.award
				.wrapper
					.title Получай лут за каждый бой
					.row
						.award__col
							.award__head
								.award__icon
									img(src="img/icon_5.svg", alt="")
								.text Игровой токен EDM
							.text
								span Вкладывай EDM в карты своей Империи, чтобы завоевать еще больше EDM
						.award__col
							.award__head
								.award__icon
									img(src="img/icon_6.svg", alt="")
								.text Редкие и уникальные<br>NFT-карты
							.text
								span Позволят побеждать более сильных противников и получать больше лута и планетарных ресурсов
				img(src="img/meteorite_3.png", alt="" data-direction="xy" data-intensity="2" data-speed="700").award__meteorite.js-parallaxMouse
				img(src="img/cometa_2.png", alt="").award__cometa
			//	/award

			// token
			.token
				.wrapper
					.token__head
						.title Token distribution
						.text Для реализации проекта необходимы средства и дополнительные человеческие ресурсы. Именно поэтому команда проекта запускает “Token distribution”, который пройдёт в несколько этапов
					.token__container
						.token__table
							.token__row.token__row--head
								.token__item Этап
								.token__item Дата старта
								.token__item Стоимость
								.token__item Бонус
							.token__row
								.token__item Private-Sale
								.token__item 10 февраля 2021
								.token__item 0,51
								.token__item 35 %
							.token__row
								.token__item Public-Sale (1 этап)
								.token__item 11 апреля 2021
								.token__item 0,62
								.token__item 30 %
							.token__row
								.token__item Public-Sale (2 этап)
								.token__item 12 июня 2021
								.token__item 0,73
								.token__item 20 %
							.token__row
								.token__item Public-Sale (3 этап)
								.token__item 23 августа 2021
								.token__item 0,54
								.token__item 10 %
			//	/token
			
		include blocks/footer.jade

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/wow.min.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")