.roadmap {
  margin-bottom: 120px;
  position: relative;
  .title {
    margin-bottom: 60px;
  }
  &__scroll {
    max-height: 600px;
  }
  &__row {
    display: flex;
  }
  &__col {
    width: 50%;
    &--1 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 70px;
      text-align: right;
      .roadmap__head {
        justify-content: flex-end;
      }
      .roadmap__num {
        padding-left: 20px;
        border-left: 3px solid #008DF2;
        margin-left: 20px;
      }
    }
    &--2 {
      padding-top: 80px;
      padding-left: 70px;
      .roadmap__num {
        padding-right: 20px;
        border-right: 3px solid #008DF2;
        margin-right: 20px;
      }
    }
  }
  &__item {
    margin-bottom: 100px;
  }
  &__head {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
  }
  &__content {
    font-size: 22px;
    color: #AEBEF9;
    span {
      display: block;
      opacity: 0.4;
      font-size: 17px;
    }
  }
  &__num {
    margin-bottom: -10px;
    font-size: 40px;
    font-weight: bold;
    color: #008DF2;
  }
  &__body {

  }
  &__trigger{
    span {
      max-width: 235px;
      display: inline-block;
      padding-right: 30px;
      cursor: pointer;
      user-select: none;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 14px;
        height: 7px;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='7' viewBox='0 0 14 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.5L7 6.5L13 0.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0,-50%);
        transition: 0.3s;
      }
      &.active {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }
  &__drop {
    padding-top: 20px;
    font-size: 14px;
    color: #AEBEF9;
    overflow: hidden;
    p {
      margin-bottom: 10px;
    }
  }
  &__center {
    text-align: center;
  }
  &__btn {
    display: inline-block;
    padding: 30px 50px;
    background: linear-gradient(180deg, rgba(186, 0, 45, 0.54) 0%, rgba(0, 102, 255, 0) 100%);
    font-size: 22px;
    span {
      display: block;
      color: #AEBEF9;
      margin-top: 15px;
    }
  }
  .scrollbar-inner > .scroll-element.scroll-y {
    right: 50%;
    transform: translate(2px,0);
  }
  .scrollbar-inner > .scroll-element.scroll-y {
    width: 4px;
    box-shadow: 0px 0px 10px rgba(2, 194, 255, 0.5);
  }
  .scrollbar-inner > .scroll-element .scroll-element_track {
    background: linear-gradient(to bottom, #0277ff, #5ac4ff 30%, #70c1ff 70%, #0085ff);
  }
  .scrollbar-inner > .scroll-element .scroll-bar {
    background: linear-gradient(to bottom, #0677c1, #0de2ff, #0677c1);
    opacity: 1;
    max-height: 50px;
    cursor: pointer;
  }
  @media (max-width: $break_sm) {
    margin-bottom: 82px;
    .title {
      margin-bottom: 50px;
    }
    &__scroll {
      max-height: 520px;
    }
    &__col {
      &--1 {
        width: 100%;
        padding-right: 0;
        padding-left: 90px;
        align-items: flex-start;
        text-align: left;
        .roadmap__head {
          justify-content: flex-start;
        }
        .roadmap__num {
          padding-left: 0;
          margin-left: 0;
          padding-right: 10px;
          margin-right: 10px;
          border-left: none;
          border-right: 3px solid #008DF2;
        }
      }
    }
    &__content {
      order: 2;
      span {
        display: none;
      }
    }
    &__item {
      margin-bottom: 45px;
    }
    &__btn {
      display: block;
      margin-left: -20px;
      margin-right: -20px;
      padding: 23px;
      font-size: 19px;
    }
    .scrollbar-inner > .scroll-element.scroll-y {
      right: auto;
      left: 30px;
      transform: translate(0,0);
    }
  }
}