.team {
  margin-bottom: 40px;
  position: relative;
  .title {
    margin-bottom: 95px;
  }
  &__col {
    @include col(3);
    @include col-sm(6);
    @include col-xs(12);
    margin-bottom: 100px;
    text-align: center;
  }
  &__img {
    margin-bottom: 45px;
    flex-shrink: 0;
    position: relative;
    img {
      display: block;
      width: 135px;
      height: 135px;
      border-radius: 100%;
      object-fit: cover;
      position: relative; 
      z-index: 3;
    }
  }
  &__imgContainer {
    display: inline-block;
    position: relative;
  }
  &__glow {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    &:before {
      content: '';
      display: block;
      background-image: url(../img/team_glow.png);
      background-size: contain;
      position: absolute;
      width: 220%;
      height: 220%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      animation: rotate 27s linear infinite;
    }
    &--1 {
      
    }
    &--2 {
      transform: rotate(90deg);
    }
    &--3 {
      transform: rotate(45deg);
    }
    &--4 {
      transform: rotate(180deg);
    }
  }
  &__content {
    
  }
  &__name {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    opacity: 0.8;
  }
  .text {
    font-weight: bold;
  }
  &__cometa {
    width: 900px;
    max-width: none;
    position: absolute;
    top: -800px;
    right: -250px;
    z-index: 2;
  }
  &__meteorite_1 {
    width: 550px;
    position: absolute;
    top: -230px;
    left: -100px;
    z-index: 2;
  }
  &__meteorite_2 {
    width: 580px;
    position: absolute;
    top: 80px;
    right: 0;
    z-index: 2;
  }
  @media (max-width: $break_xl) {
    &__meteorite_1 {
      left: -300px;
    }
    &__meteorite_2 {
      right: -300px;
    }
  }
  @media (max-width: $break_sm) {
    margin-bottom: 56px;
    .title {
      margin-bottom: 68px;
    }
    &__col {
      display: flex;
      align-items: center;
      margin-bottom: 46px;
    }
    &__img {
      margin-bottom: 0;
      img {
        width: 56px;
        height: 56px;
      }
    }
    &__content {
      padding-left: 20px;
      text-align: left;
    }
    &__name {
      max-width: none;
      margin-bottom: 10px;
      font-size: 16px;
    }
    .text {
      text-align: left;
    }
    &__cometa {
      width: 800px;
      top: -70px;
      left: 100px;
    }
    &__meteorite_1 {
      left: -200px;
    }
    &__meteorite_2 {
      display: none;
    }
  }
}