.team {
  margin-bottom: 140px;
  position: relative;
  .title {
    margin-bottom: 95px;
  }
  &__col {
    @include col(3);
    @include col-sm(6);
    @include col-xs(12);
    text-align: center;
  }
  &__img {
    margin-bottom: 45px;
    flex-shrink: 0;
    img {
      width: 135px;
      height: 135px;
      border-radius: 100%;
      object-fit: cover;
    }
    &--1 {

    }
    &--2 {
      
    }
    &--3 {
      
    }
    &--4 {
      
    }
  }
  &__content {
    padding-left: 25px;
  }
  &__name {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    opacity: 0.8;
  }
  .text {
    font-weight: bold;
  }
  &__cometa {
    width: 900px;
    position: absolute;
    top: -800px;
    right: -250px;
    z-index: 2;
  }
  @media (max-width: $break_sm) {
    margin-bottom: 56px;
    .title {
      margin-bottom: 68px;
    }
    &__col {
      display: flex;
      align-items: center;
      margin-bottom: 46px;
    }
    &__img {
      margin-bottom: 0;
      img {
        width: 56px;
        height: 56px;
      }
    }
    &__content {
      text-align: left;
    }
    &__name {
      max-width: none;
      margin-bottom: 10px;
      font-size: 16px;
    }
    .text {
      text-align: left;
    }
  }
}