.token {
  position: relative;
  margin-bottom: 55px;
  &__head {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 45px;
    .title {
      text-align: right;
    }
    .text {
      text-align: left;
      padding-left: 20px;
    }
  }
  &__container {
    white-space: nowrap;
    overflow-x: auto;
  }
  &__headTable {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    max-width: 780px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 0.5;
    font-size: 22px;
  }
  &__table {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  &__row {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-column: 1 / 5;
    padding: 19px 0;
    background: linear-gradient(270deg, rgba(0, 15, 36, 0) 0%, #000F24 100%);
    border: 1px solid #331f36;
    border-radius: 1px;
  }
  &__item {
    &--name {
      text-align: left;
      padding-left: 20px;
    }
  }
  &__planet {
    max-width: 1900px;
    position: absolute;
    top: -150px;
    right: 0;
    opacity: 0.5;
    z-index: 1;
  }
  @media (max-width: $break_sm) {
    &__head {
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 0;
    }
    .text {
      padding-left: 0;
      text-align: center;
    }
  }
}