.token {
  position: relative;
  margin-bottom: 105px;
  &__head {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 45px;
    .title {
      text-align: right;
    }
    .text {
      text-align: left;
      padding-left: 20px;
    }
  }
  &__container {
    white-space: nowrap;
    overflow-x: auto;
  }
  &__table {
    width: 100%;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    th {
      padding: 0 10px 28px;
      opacity: 0.5;
      font-size: 22px;
    }
  }
  &__row {
    background: linear-gradient(270deg, rgba(0, 15, 36, 0), #000F24);
    border: 2px solid #331f36;
  }
  &__item {
    padding: 20px 10px;
    &--name {
      text-align: left;
      padding-left: 20px;
    }
  }
  &__planet {
    max-width: 100%;
    position: absolute;
    top: -150px;
    right: 0;
    opacity: 0.5;
    z-index: 1;
  }
  @media (max-width: $break_sm) {
    margin-bottom: 75px;
    &__head {
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 0;
    }
    &__head {
      .title {
        margin-bottom: 25px;
      }
    }
    .text {
      padding-left: 0;
      text-align: center;
      line-height: 1.2;
    }
    &__table {
      th {
        font-size: 19px;
        opacity: 1;
      }
    }
    &__planet {
      max-width: 160%;
      top: -90px;
      right: -150px;
      opacity: 0.8;
    }
  }
}