.token {
  position: relative;
  margin-bottom: 105px;
  &__head {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-bottom: 45px;
    .title {
      text-align: right;
    }
    .text {
      text-align: left;
      padding-left: 20px;
    }
  }
  &__container {
    white-space: nowrap;
    overflow-x: auto;
    margin-left: -30px;
    margin-right: -30px;
  }
  &__pd {
    width: 840px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  &__table {
    text-align: center;
    &.active {
      .token__row {
        &--active {
          &:after {
            opacity: 1;
          }
          &:before {
            width: 100%;
            opacity: 1;
          }
        }
      }
      // .token__item {
      //   &--percent {
      //     &:after {
      //       height: 100%;
      //     }
      //   }
      // }
    }
  }
  &__row {
    display: flex;
    background: linear-gradient(270deg, rgba(0, 15, 36, 0), #000F24);
    border: 3px solid #331f36;
    position: relative;
    &:not(:last-child) {
      border-bottom: none;
    }
    &--head {
      padding: 0 10px 28px;
      opacity: 0.5;
      font-size: 22px;
      background: transparent;
      border: none;
    }
    &--active {
      &:after {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background-size: cover;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 17L18 12L13 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 17L11 12L6 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        position: absolute;
        top: 50%;
        left: -70px;
        transform: translate(0,-50%);
        opacity: 0;
        transition: 1s;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: -2px;
        left: -2px;
        width: 0;
        height: 100%;
        border: 3px solid #ff123d;
        z-index: 2;
        transition: width 1s;
        opacity: 0;
      }
    }
  }
  &__item {
    padding: 20px 10px;
    flex-shrink: 0;
    position: relative;
    &:nth-child(1) {
      flex-grow: 1;
    }
    &:nth-child(2) {
      width: 220px;
    }
    &:nth-child(3) {
      width: 150px;
    }
    &:nth-child(4) {
      width: 150px;
    }
    &--name {
      text-align: left;
      padding-left: 20px;
    }
    // &--percent {
    //   position: relative;
    //   &:after {
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     bottom: 0;
    //     height: 0;
    //     background-color: #008DF2;
    //     opacity: 0.2;
    //     transition: height 1s;
    //   }
    // }
  }
  &__line {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 10%;
    background-color: #008DF2;
    opacity: 0.2;
  }
  &__planet {
    max-width: 100%;
    position: absolute;
    top: -150px;
    right: 0;
    opacity: 0.5;
    z-index: 1;
  }
  @media (max-width: $break_md) {
    &__row {
      &--active {
        &:after {
          display: none;
        }
      }
    }
  }
  @media (max-width: $break_sm) {
    margin-bottom: 75px;
    &__head {
      flex-wrap: wrap;
      justify-content: center;
      margin-left: 0;
    }
    &__head {
      .title {
        margin-bottom: 25px;
      }
    }
    .text {
      padding-left: 0;
      text-align: center;
      line-height: 1.2;
    }
    &__table {
      th {
        font-size: 19px;
        opacity: 1;
      }
    }
    &__planet {
      max-width: 160%;
      top: -90px;
      right: -150px;
      opacity: 0.8;
    }
    &__container {
    margin-left: -20px;
    margin-right: -20px;
  }
  &__pd {
    width: 840px;
    padding-left: 20px;
    padding-right: 20px;
  }
  }
}