.tournaments {
  text-align: center;
  position: relative;
  margin-bottom: 150px;
  .title {
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
  }
  .text {
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    position: relative;
    z-index: 2;
  }
  &__planet {
    width: 620px;
    height: 620px;
    position: absolute;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 3;
    }
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 2;
      animation: rotate 36s linear infinite;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-size: 110%;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
      animation: rotate 36s linear infinite;
    }
    &--1 {
      top: -150px;
      left: -30px;
      &:after {
        background-image: url(../img/track_2.png);
      }
      &:before {
        background-image: url(../img/glow_2.png);
      }
    }
    &--2 {
      top: -180px;
      right: -30px;
      &:after {
        background-image: url(../img/track_3.png);
      }
      &:before {
        background-image: url(../img/glow_3.png);
      }
    }
  }
  .btn {
    position: relative;
    z-index: 2;
  }
  @media (max-width: $break_xl) {
    &__planet {
      width: 500px;
      height: 500px;
      &--1 {
        top: -100px;
        left: -120px;
      }
      &--2 {
        top: -100px;
        right: -120px;
      }
    }
  }
  @media (max-width: $break_md) {
    &__planet {
      width: 350px;
      height: 350px;
    }
  }
  @media (max-width: $break_sm) {
    margin-bottom: 80px;
    .text {
      margin-bottom: 62px;
    }
    &__planet {
      width: 240px;
      height: 240px;
      img {
        width: 60%;
        height: 60%;
      }
    }
  }
}